.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
}

.main-content {
  flex: 1;
  padding: 40px;
}

h1 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.info-card h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 24px;
  color: #72b809;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .info-cards {
      flex-direction: column;
      align-items: center;
  }

  .info-card {
      width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .info-card {
      width: 250px;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .info-card {
      width: 280px;
  }
}

@media (min-width: 1921px) {
  .info-card {
      width: 320px;
  }
}
