.page-container {
    display: flex;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }
  
  .relatorio-lista {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem a linha */
    gap: 16px;
    padding: 10px;
    justify-content: center; /* Centraliza os itens horizontalmente */
  }
  
  .devedor-item {
    width: 250px; /* Define uma largura fixa para cada item */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: left;
    transition: transform 0.2s;
  }
  
  .devedor-item:hover {
    transform: translateY(-4px);
  }
  
  .devedor-item p {
    margin: 8px 0;
    font-weight: bold;
  }
  